@model Book

<div class="addBook" >
    <form asp-controller="AddBook" asp-action="addBook" >
        <input asp-for=bookName class="input_box" type="text" name="bookName" placeholder="BookName" required>
        <input asp-for=bookAuthor class="input_box" type="text" name="bookAuthor" placeholder="Author" required>
        <input asp-for=copiesAvailable class="input_box" type="number" name="CopiesAvailable" placeholder="copies" required >
        <input class="lend_button" type="submit" value="Add">
    </form>
    <form asp-controller="AddBook" asp-action="removeBook" >
        <input type="text" class="input_box" name="bookname" placeholder="book id" required>
        <input type="submit" value="remove book" >
    </form>
</div>