@model List<Brrowed>

<div class="history" >
    <div class="history_top">
        <form asp-controller="LendBook" asp-action="History" >
            <input type="text" name="username" required >
            <input type="submit" value="sbumit">
        </form>
        <form asp-controller="LendBook" asp-action="DeleteBook">
            <input type="number" name="borrowid" placeholder="enter borrow id" required>
            <input type="submit" value = "return">
        </form>
    </div>
    <div class="history_bottom">
        <table class="table table-striped" >
            <thead>
                <th>Book name</th>
                <th>Expiry date</th>
                <th> BorrowId </th>
            </thead>
            <tbody>
                <tr>
                    @foreach (var history_tsx in @Model)
                    {
                        <tr>
                            <td>@history_tsx.bookName</td>
                            <td>@history_tsx.dueDate</td>
                            <td>@history_tsx.borrowId</td>
                        </tr>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>