@model Lend

<div class="lend_container">
    <div class="user_lend">
        <form asp-controller="LendBook" asp-action="lend" method="post" >
            <input asp-for=username class="input_box"  name="username" type="text" placeholder="Username" required>
            <input asp-for=bookid class="input_box" name="bookid" type="number" placeholder="BookId" required>
            <input class="lend_button" type="submit" value="lend">
        </form>
</div>
</div>