@using library.Models;
@model List<Book>

<div class="books">
    <div class="books_result">
        <table class="table table-striped" > 
            <thead>
                <th>Id</th>
                <th>BookName</th>
                <th>BookAuthor</th>
                <th>Copies Available</th>
            </thead>
            <tbody>
                <tr>
                    @foreach (var book in @Model)
                    {
                        <tr>
                            <td>@book.bookId</td>
                            <td>@book.bookName</td>
                            <td>@book.bookAuthor</td>
                            <td>@book.copiesAvailable</td>
                        </tr>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <div class="user_lend">
        <form asp-controller="DisplayBooks" asp-action="lend" method="post" >
            <input class="lend_button" type="submit" value="lend">
        </form>
    </div>
</div>