﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-center">
    <h1 class="display-4">Library Management</h1>
    <p> This is a online web service for lending and managing the books  </p>
    <div class="home-buttons" >
        <form asp-controller="Home" asp-action="control" method="post" >
            <input type="submit" value="lend a book" name="submit" >
            <input type="submit" value="add a book" name="submit" >
        </form>
    </div>
</div>
