html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
}

.flex-center{
  margin-top: 200px;
  margin-left: auto;
  margin-right:auto;
  height: 25vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.books{
  display: flex;
  align-items: center;
}
.books_result{
  width: 70%;
}
.user_lend{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.user_lend>form{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}

.input_box{
  padding-left: 20px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  border-radius: 6px;
}
.lend_button{
  background-color: rgb(100, 132, 220);
  width: 50%;
  height: 40px;
  border-radius: 10px;
  color: white;
  border: none;
  outline: none;
}

.lend_button:hover{
  transform: translateY(-3px);
}

.lend_button:active{
  transform: translateY(2px);
}

/* add book stylings*/
.addBook{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBook>form{
  flex-direction: column;
  height: 30vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

.lend_container{
  height: 90vh;
  width: 88vw;
  display: flex;
  justify-content: center;
  align-items: center;
}